/* style.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f0f0f0;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar {
    background-color: #ffffff;
    color: #9b229b;
    width: 250px;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #9b229b;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #161616;
    padding: 10px;
    display: block;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar ul li a i {
    margin-left: auto;
}

.sidebar ul li a:hover {
    background-color: #f0c0f7;
}

.sidebar ul li a.active {
    background-color: #d43de2;
    font-weight: bold;
    color: #ffffff;
}

.sidebar ul li a.active:hover {
    background-color: #9b229b;
}

.data {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 30px;
}

.data h4 {
    font-size: 20px;
    margin: 0;
}

.data h1 {
    font-size: 70px;
    margin: 0;
}

.section {
    width: 30%;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    border-radius: 8px;
    background-color: #ac30ac;
}

.content h3 {
    font-size: 28px;
    color: #222222;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
}

.content th,
.content td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.content th {
    background-color: #d43de2;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.content tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content tr:hover {
    background-color: #f1d2f5;
}